{% extends 'base.html' %}


{% block content %}

</br></br>
<center>
<div class="container">
<img style="border-radius: 100px" height="200" width="200" class="" src="{{profile.image.url}}">

    
<h1>{{ profile.username }}</h1>
<h6>@{{ profile.profile_owner.username }}</h6>

{% if profile.profile_owner != user %}
<a class="btn btn-primary btn-sm" href="{% url 'start_chat' profile.profile_owner.username %}">Chat w me</a>
{% endif %}

</div>
{% endblock %}

</center>

<script>
    function scrollToBottom(elementId) {
      const container = document.getElementById(elementId);

      if (container) {
        container.scrollTop = container.scrollHeight;
      } else {
        console.error(`Element with ID "${elementId}" not found.`);
      }
    }

    // Example usage:
    scrollToBottom("chat_container");
</script>