{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .success {
    color: green;
  }
  .error {
    color: red;
  }
</style>

</br></br></br>
<div class='col-md-6 offset-md-3'>
<form method="POST" validate action="{% url 'register' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputUsername" aria-describedby="UsernameHelp" placeholder="Enter Username" hx-post="{% url 'verify_username' %}" hx-target=#usernameHelp hx-swap="innerhtml" hx-trigger="keyup throttle: 2s">
    <small id="usernameHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" hx-post="{% url 'verify_password1' %}" hx-target="#password1Help" hx-swap="innerhtml" hx-trigger="keyup throttle: 2s">
    <small id="password1Help" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input name="password2" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" hx-post="{% url 'verify_password2' %}" hx-target="#password2Help" hx-swap="innerhtml" hx-trigger="keyup">
    <small id="password2Help" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary">Sign-up</button>
</form>
</div>

{% endblock %}